.custom-menu .ant-menu-item-selected,
.custom-menu .ant-menu-item:active {
  background: linear-gradient(90deg, #ecfdf5, #d1fae5) !important;
  color: #10b981 !important;
  border-radius: 8px;
  font-weight: 600;
}

.custom-menu .ant-menu-item:hover {
  background: #ecfdf5 !important;
  color: #10b981 !important;
  border-radius: 8px;
}
/* src/index.css */
.ant-table-container::-webkit-scrollbar {
  height: 8px;
}
.ant-table-container::-webkit-scrollbar-thumb {
  background-color: #c9c9c9;
  border-radius: 6px;
}
