.custom-menu .ant-menu-item-selected,
.custom-menu .ant-menu-item:active {
  background: linear-gradient(90deg, #ecfdf5, #d1fae5) !important;
  color:black !important;
  border-radius: 8px;
  font-weight: 600;
}

.custom-menu .ant-menu-item:hover {
  background: black !important;
  color: white !important;
  border-radius: 8px;
}
/* src/index.css */
.ant-table-container::-webkit-scrollbar {
  height: 8px;
}
.ant-table-container::-webkit-scrollbar-thumb {
  background-color: #c9c9c9;
  border-radius: 6px;
}
.cta {
  position: relative;
  margin: auto;
  padding: 12px 22px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.cta::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

/* Text */
.cta span {
  position: relative;
  font-family: "Ubuntu", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.05em;
}

/* Arrow icon */
.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

/* Hover effects */
.cta:hover::before {
  width: 100%;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.96);
}

/* ===== Color variants ===== */

/* Blue – Admin */
.cta-blue {
  color: white; /* text & arrow */
}
.cta-blue::before {
  background: #bfdbfe;
}
.cta-blue:hover::before {
  background: #2563eb;
}
.cta-blue:hover {
  color: #ffffff;
}

/* Green – Coordinator */
.cta-green {
  color: white;
}
.cta-green::before {
  background: #bbf7d0;
}
.cta-green:hover::before {
  background: #16a34a;
}
.cta-green:hover {
  color: #ffffff;
}

/* Orange – Register */
.cta-orange {
  color: white;
}
.cta-orange::before {
  background: #fed7aa;
}
.cta-orange:hover::before {
  background: #f97316;
}
.cta-orange:hover {
  color: #ffffff;
}

/* Make arrow color follow text color */
.cta svg path,
.cta svg polyline {
  stroke: currentColor;
}
